.day-component {
  .list-item {
    background-color: #89D889;
    padding: 10px;
    border-radius: 10px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    .item-title {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 18px;
      padding-bottom: 5px;
      border-bottom: 1px solid #808080C0;
      margin-bottom: 5px;
    }

    .item {
      &:not(.last-child) {
        margin-bottom: 15px;
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .text {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;

        &.bold {
          font-weight: bold;
        }

        &.warning {
          font-size: 16px;
          font-style: italic;
          color: #FF0000;
          margin-top: 5px
        }
      }

      .alt-container {
        margin-top: 5px;
        margin-left: 20px;

        .alt-text {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-style: italic;
          font-size: 18px;
          margin-bottom: 3px;
        }

        & > .grid {
          & > .text {
            &:not(:last-child) {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}