<div (click)="goBack()"
     class="go-back">
    Torna indietro
</div>
<div class="day-component">
    @for (dietList of diets; track dietList.id) {
        @if (dietList.season === seasonId) {
            @for (dietDetail of dietList.diets; track dietDetail.day) {
                @if (dietDetail.dayId == dayId) {
                    <h1>{{ dietDetail.day }}</h1>
                    @for (diet of dietDetail.diet; track diet.id) {
                        <div class="list-item mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <p class="item-title fw-bold fs-3">Colazione</p>
                                    <hr class="hr hr-blurry" />
                                    @for (breakfast of diet.breakfast; track breakfast.id) {
                                        <div class="item mb-4">
                                            <div class="row row-cols-auto">
                                                <p class="text fw-bold col">{{ breakfast.food }}</p>
                                                <p class="text col text-danger fs-6">{{ cookedQuantity(breakfast) }}</p>
                                            </div>
                                            <p class="text text-danger fs-6 mt-2">{{ breakfast.notes }}</p>
                                            @if (breakfast.alternatives; as alternatives) {
                                                <div class="alt-container">
                                                    <p class="alt-text mb-1">Alternative</p>
                                                    @for (alternative of alternatives; track alternative.id) {
                                                        <div class="row row-cols-auto mb-2">
                                                            <p class="text col">{{ alternative.food }}</p>
                                                            <p class="text col text-danger fs-6">{{ cookedQuantity(alternative) }}</p>
                                                        </div>
                                                        <p class="text text-danger fs-6">{{ alternative.notes }}</p>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="list-item mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <p class="item-title fw-bold fs-3">Spuntino di metà mattina</p>
                                    <hr class="hr hr-blurry" />
                                    @for (midMorningSnack of diet.midMorningSnack; track midMorningSnack.id) {
                                        <div class="item mb-4">
                                            <div class="row row-cols-auto">
                                                <p class="text fw-bold col">{{ midMorningSnack.food }}</p>
                                                <p class="text col text-danger fs-6">{{ cookedQuantity(midMorningSnack) }}</p>
                                            </div>
                                            <p class="text text-danger fs-6 mt-2">{{ midMorningSnack.notes }}</p>
                                            @if (midMorningSnack.alternatives; as alternatives) {
                                                <div class="alt-container">
                                                    <p class="alt-text mb-1">Alternative</p>
                                                    @for (alternative of alternatives; track alternative.id) {
                                                        <div class="row row-cols-auto mb-2">
                                                            <p class="text col">{{ alternative.food }}</p>
                                                            <p class="text col text-danger fs-6">{{ cookedQuantity(alternative) }}</p>
                                                        </div>
                                                        <p class="text text-danger fs-6">{{ alternative.notes }}</p>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                        <div class="list-item mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <p class="item-title fw-bold fs-3">Pranzo</p>
                                    <hr class="hr hr-blurry" />
                                    @for (lunch of diet.lunch; track lunch.id) {
                                        <div class="item mb-4">
                                            <div class="row row-cols-auto mb-2">
                                                <p class="text fw-bold col">{{ lunch.food }}</p>
                                                <p class="text col text-danger fs-6">{{ cookedQuantity(lunch) }}</p>
                                            </div>
                                            <p class="text text-danger fs-6 mt-2">{{ lunch.notes }}</p>
                                            @if (lunch.alternatives; as alternatives) {
                                                <div class="alt-container">
                                                    <p class="alt-text mb-1">Alternative</p>
                                                    @for (alternative of alternatives; track alternative.id) {
                                                        <div class="row row-cols-auto mb-2">
                                                            <p class="text col">{{ alternative.food }}</p>
                                                            <p class="text col text-danger fs-6">{{ cookedQuantity(alternative) }}</p>
                                                        </div>
                                                        <p class="text text-danger fs-6">{{ alternative.notes }}</p>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                        <div class="list-item mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <p class="item-title fw-bold fs-3">Spuntino di metà pomeriggio</p>
                                    <hr class="hr hr-blurry" />
                                    @for (midAfternoonSnack of diet.midAfternoonSnack; track midAfternoonSnack.id) {
                                        <div class="item mb-4">
                                            <div class="row row-cols-auto mb-2">
                                                <p class="text fw-bold col">{{ midAfternoonSnack.food }}</p>
                                                <p class="text col text-danger fs-6">{{ cookedQuantity(midAfternoonSnack) }}</p>
                                            </div>
                                            <p class="text text-danger fs-6 mt-2">{{ midAfternoonSnack.notes }}</p>
                                            @if (midAfternoonSnack.alternatives; as alternatives) {
                                                <div class="alt-container">
                                                    <p class="alt-text mb-1">Alternative</p>
                                                    @for (alternative of alternatives; track alternative.id) {
                                                        <div class="row row-cols-auto mb-2">
                                                            <p class="text col">{{ alternative.food }}</p>
                                                            <p class="text col text-danger fs-6">{{ cookedQuantity(alternative) }}</p>
                                                        </div>
                                                        <p class="text text-danger fs-6">{{ alternative.notes }}</p>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                        <div class="list-item mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <p class="item-title fw-bold fs-3">Cena</p>
                                    <hr class="hr hr-blurry" />
                                    @for (dinner of diet.dinner; track dinner.id) {
                                        <div class="item mb-4">
                                            <div class="row row-cols-auto mb-2">
                                                <p class="text fw-bold col">{{ dinner.food }}</p>
                                                <p class="text col text-danger fs-6">{{ cookedQuantity(dinner) }}</p>
                                            </div>
                                            <p class="text text-danger fs-6 mt-2">{{ dinner.notes }}</p>
                                            @if (dinner.alternatives; as alternatives) {
                                                <div class="alt-container">
                                                    <p class="alt-text mb-1">Alternative</p>
                                                    @for (alternative of alternatives; track alternative.id) {
                                                        <div class="row row-cols-auto mb-2">
                                                            <p class="text col">{{ alternative.food }}</p>
                                                            <p class="text col text-danger fs-6">{{ cookedQuantity(alternative) }}</p>
                                                        </div>
                                                        <p class="text text-danger fs-6">{{ alternative.notes }}</p>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    }
                }
            }
        }
    }
</div>
