<div (click)="goBack()"
     class="go-back">
    Torna indietro
</div>
<div class="season-component">
    <div class="card">
        <div class="card-header font-m>">
            GIORNI
        </div>
        <ul class="list-group list-group-flush">
            @for (diet of diets; track diet.id) {
                @if (diet.season === seasonId) {
                    @for (dietDetail of diet.diets; track dietDetail.day) {
                        <li (click)="onClickDay(dietDetail.dayId)"
                            class="list-group-item font-m">
                            {{ dietDetail.day }}
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>