.dashboard-component {
  .season-container {
    margin-bottom: 40px;

    .season-list {
      .item {
        max-width: fit-content;
        padding: 10px;
        background-color: #89D889;
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }

  .food-list-component {
    .food-list {
      .item {
        max-width: fit-content;
        padding: 10px;
        background-color: #89D889;
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }
}
