<div class="dashboard-component">
  <div class="season-container container mx-auto">
    <h1>
      STAGIONI
    </h1>
    <div class="text">
      INFO:
      <ul>
        <li>Il pranzo può essere invertito con la cena.</li>
        <li>Possibilità di bere Birra piccola ma non eccessivamente al max 2 volte a settimana.</li>
        <li>Coca light o zero mx 2 volte a settimana.</li>
        <li> 1 volta a settimana si può la brioche a colazione.</li>
        <li>Tutte le sere è possibile consumare uno spuntino a scelta tra: pavesini, biscotti secchi (30g), crackers oppure succo di frutta o frutta.</li>
        <li>Se aperitivo meglio vino bianco e verdure. No pizza dopo, meglio secondo.</li>
        <li>Gelati: Sempre in sostituzione alla merenda tipo Liuk, ghiacciolo, calippo, solero (<100kcal) oppure 1 volta a settimana gelato frutta 2 gusti o 1 volta ogni 15gg gusti crema 2 guisti.</li>
        <li>GNOCCHI crudo 250g (375g cotto)</li>
        <li>Al posto delle uova/carne possibile fare legume o 2 hamburger vegetali. 150g uova/carne = 250g (230g cotto) di piselli/lenticchie o 200g fagioli/ceci (500g cotto)</li>
      </ul>
    </div>
    <div class="season-list">
      @for (season of seasonsList.seasons; track season.id) {
        @if (season.id === SEASON.WINTER) {
          <div (click)="onClickSeason(season.id)"
               class="item cursor-pointer">
            {{ season.name }}
          </div>
        } @else {
          <div (click)="onClickSeason(season.id)"
               class="item">
            {{ season.name }}
          </div>
        }
      }
    </div>
  </div>
  <div class="food-list-component">
    <h1>
      LISTA CIBI
    </h1>
    <div class="food-list">
      @for (food of foodList.firstDishes; track food.idFood) {
        <div (click)="onClickCalculator(food)"
             class="item">
          {{ food.food }}
        </div>
      }
      @for (food of foodList.secondDishes; track food.idFood) {
        <div (click)="onClickCalculator(food)"
             class="item">
          {{ food.food }}
        </div>
      }
      @for (food of foodList.sideDishes; track food.idFood) {
        <div (click)="onClickCalculator(food)"
             class="item">
          {{ food.food }}
        </div>
      }
    </div>
  </div>
</div>
